article#article-container {
	min-width: 100%;
	height: 750px;
	position: relative;
	display: grid;
	grid-template-columns: [col-1] 1rem [col-2] 1fr [col-3] 1fr [col-4] 1fr [col-5] 1fr [col-6] 1fr [col-7] 1fr [col-8] 1fr [col-9] 1fr [col-10] 1fr [col-11] 1rem [col-12];
	grid-template-rows: [row-1] 3rem [row-2] 1fr [row-3] 1fr [row-4] 1fr [row-5] 1fr [row-6] 1fr [row-7] 1fr [row-8] 1fr [row-9] 1fr [row-10] 1fr [row-11] 1rem [row-12];
	div#showcase-1 {
		@include bgimg("../img/article-model-1.jpg",
		no-repeat, center, center, cover);
		@include wh(normal, 180px, 275px);
		@include gridColRow(col-6, col-8, row-2,row-6);
		/* autoprefixer: off */
		z-index: 1;
		filter: grayscale(15%);
	}
	div#showcase-2 {
		@include bgimg("../img/article-model-2.jpg",
		no-repeat, center, bottom, cover);
		@include wh(normal, 350px, 175px);
		@include gridColRow(col-3, col-7, row-6, row-8);
		/* autoprefixer: off */
		z-index: 1;
	}
	div#showcase-3 {
		@include bgimg("../img/article-model-3.jpg",
		no-repeat, center, center, cover);
		@include wh(normal, 200px, 300px);
		@include gridColRow(col-7, col-9, row-6, row-10);
		/* autoprefixer: off */
		z-index: 1;
		filter: grayscale(15%);
	}
	div.showcase-bg-box {
		background: #A1D9FF;
		z-index: 0;
	}
	div.showcase-bg-box-1 {
		@include wh(normal, 150px, 150px);
		@include gridColRow(col-5, col-7, row-5, row-7);
		/* autoprefixer: off */
	}
	div.showcase-bg-box-2 {
		@include wh(normal, 200px, 210px);
		@include gridColRow(col-6, col-8, row-8, row-10);
		/* autoprefixer: off */
	}
	div.showcase-bg-box-3 {
		@include wh(normal, 200px, 200px);
		@include gridColRow(col-8, col-10, row-5, row-7);
		/* autoprefixer: off */
	}
}
