/* aside section style */
aside#aside-container {
	@include bdr(2px, red);
	min-width: 100%;
	height: 150px;
	display: grid;
	grid-template-columns:
		[aside-right-1] 1fr [aside-right-2] 1fr
		[aside-center] 1fr [aside-left-2] 1fr
		[aside-left-1];
	div#aside-pic-1 {
		grid-column: [aside-right-1] / [aside-right-2];
		background-image: url('../img/aside-pic-1.jpg');
	}
}
