footer#footer-container {
	min-width: 100%;
	height: 250px;
	position: relative;
	display: grid;
	grid-template-columns: [col-1] 1fr [col-2] 1fr [col-3] 1.5fr [col-4];
	grid-template-rows: [row-1] 1fr [row-2];

	div#footer-logo {
		@include wh(normal, 100%, 100%);
		@include bgimg("../img/footer-logo.jpg", no-repeat, center, center, cover);
	}

	ul#footer-info {
		@include wh(normal, 100%, 100%);
		background: #333;
		display: flex;
		flex-direction: column;
		justify-content: space-around;

		li {
			list-style-type: none;
			color: #FAFAFA;
			font-size: 2rem;
			font-family: 'roboto-medium';
		}
	}

	div#footer-inputs {
		@include wh(normal, 100%, 100%);
		background: #333;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding: 2rem;

		h4 {
			color: #fafafa;
			text-transform: uppercase;
		}

		input {
			margin-top: 1rem;
			height: 4rem;
			text-align: center;
		}

		a#signup {
			margin-top: 2rem;
			width: 100%;
			height: 4rem;
			background: #EE2B47;
			color: #fafafa;
			font-family: 'roboto-black';
			font-size: 2rem;
			text-transform: uppercase;
			text-decoration: none;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: all 0.2s ease-out;

			&:hover {
				cursor: pointer;
				transform: scale(1.05);
			}
		}
	}
}
