/* import global and custom css */
@import '../bootstrap/customizations.scss';
@import "./partials/global.scss";
@import "./partials/resources/fonts.scss";



/* import master section css*/
@import "./partials/master.scss";
@import "./partials/mediaquery/mq_master.scss";


/* import header section css */
@import "./partials/header.scss";
@import "./partials/mediaquery/mq_header.scss";

/* import main section css */
@import "./partials/main.scss";


div#placeHolder {
	width: 100px;
	height: 5000px;
	border: 2px solid black;
}
